<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="pakHelper2019.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="pakHelper2019.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <pakHelper2019.Properties.Settings>
      <setting name="UseMakeobjSamepath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePakSamepath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseExtractSamepath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMergeSamepath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Makeobjpath" serializeAs="String">
        <value />
      </setting>
      <setting name="Pakpath" serializeAs="String">
        <value />
      </setting>
      <setting name="Extractpath" serializeAs="String">
        <value />
      </setting>
      <setting name="Mergepath" serializeAs="String">
        <value />
      </setting>
      <setting name="UseMakeobjRelative" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePakRelative" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseExtractRelative" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMergeRelative" serializeAs="String">
        <value>False</value>
      </setting>
    </pakHelper2019.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <pakHelper2019.Properties.Settings>
      <setting name="IsInitialized" serializeAs="String">
        <value>False</value>
      </setting>
    </pakHelper2019.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>